<div class="following-main-container">
  
 <div class="row">
    <div class="small-3 columns tweet-side">
    <h5>Quick Discover</h5>
    <div><%= link_to 'activity', users_path %></div>
    <div><%= link_to 'who to follow', users_path %></div>
    </div>
  

  <div class="small-9 columns">
    <div><%= link_to 'New Tweet', new_tweet_path %></div>

    <div>
      <% @tweets.each do |tweet| %>
      <ul>
        <li>
          <div class="tweetAvatar">
            <%= image_tag tweet.user.avatar if tweet.user.avatar.present?  %> 
          </div>
        </li>
        <li><%= tweet.user.name %></li>
        <li><%= tweet.content %></li>
        <li><%= time_ago_in_words tweet.created_at %></li>      
        <li><%= link_to 'Show', tweet %></li>
      </ul>
      <% end %>
    </div>
  
  </div>

</div>
</div>




