<h1>Listing tweets</h1>


  <div>
    <% @tweets.each do |tweet| %>
    <ul> 
      <li><%= tweet.user.name %></li>
      <li><%= tweet.content %></li>
      <li><%= time_ago_in_words tweet.created_at %></li>
      <li></li>
      
      <li>
           <%= link_to 'Show', tweet %>
      </li>
      <li><%= link_to 'Edit', edit_tweet_path(tweet) if @current_user.try(:id) == tweet.user_id%>
      </li>   
        
      <li><%= link_to 'delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } if @current_user.try(:id) == tweet.user_id %>
      </li>
    </ul>  
    <% end %>


<br>

<%= link_to 'New Tweet', new_tweet_path %>

</div>
