<div class="following-main-container">
  
 <div class="row">
    <div class="small-3 columns tweet-side">
    <h5>Quick Discover</h5>
      <%= link_to 'Your Activity', user_path(@current_user) %>
      <%= link_to 'Who to Follow', users_path %>
      <%= link_to 'New Tweet', new_tweet_path %>
    </div>
  

  <div class="small-9 columns">
    <div>
      <% @tweets.each do |tweet| %>
        <div class="row">
          <div class="small-2 columns">
            <% if tweet.user.avatar != "" %>
              <%= image_tag tweet.user.avatar %>
            <% else  %>
              <img src="http://silvervelvetsky.files.wordpress.com/2012/01/936full-jane-birkin1.jpg" />
            <% end %>
            <%= tweet.user.name %>
          </div>
          <div class="small-10 columns">
            <%= tweet.content %>
            <%= time_ago_in_words tweet.created_at %>
          </div>
 
                    <!-- <li><%= link_to 'Show', tweet %></li> -->
        </div>
        <hr>
      <% end %>
    </div>
  
  </div>

</div>
</div>
