<div>
	<div class="small-3 columns">
			<% if @user.avatar != "" %>
				<%= image_tag @user.avatar %>
			<% else  %>
				<img src="http://silvervelvetsky.files.wordpress.com/2012/01/936full-jane-birkin1.jpg" />
			<% end %>
		
		<p> <%= @user.name %></p>
		<div class="follow">	
	 		<%= render 'follow_form' if @current_user.present? %>
	 		<%= render 'shared/stats' %>
		</div>
		<div class="button [secondary success alert]">
			<%= link_to 'deactivate my account', @user, :method => :delete, :data => {:confirm => 'Are you sure you want to delete your account?'}  %>
		</div>
	</div>

	
	
	<div class="small-9 columns">
		<h1>Account</h1>
		<h4 class="edit_font">Change your account and settings.</h4>

		<%= render :partial => 'form' %>	
		<div class="row">
  		
	</div>
	</div>
	
</div>
