<div class="">
<div class="small-3 columns">
		<p> <%= image_tag @user.avatar %></p>
		<p> <%= @user.name %></p>
		<div class="follow">	
	 		<%= render 'follow_form' if @current_user.present? %>
	 		<%= render 'shared/stats' %>
		</div>
	</div>

<div class="small-9 columns">
	<h1>Account</h1>
	<h4>Change your account and settings.</h4>

	<%= render :partial => 'form' %>

	
</div>
</div>
