<div class="user-profile-background">
	<div class="small-3 columns profile-side">
		<div class="profile-image"> 
			<% if @user.avatar != "" %>
				<%= image_tag @user.avatar %>
			<% else  %>
				<img src="http://silvervelvetsky.files.wordpress.com/2012/01/936full-jane-birkin1.jpg" />
			<% end %>
		</div>
		<div class="profile-name"><%= @user.name %></div>
		<div class="follow">	
	 		<%= render 'follow_form' if @current_user.present? %>
	 		<%= render 'shared/stats' %>
		</div>
	</div>
	
	<div class="small-9 columns">
		<div class="post-tweets">
		
		<%  if @user == @current_user %>
			<h4>Compose Tweets</h4>
			<%= render 'tweets/form' %>
		<% else %>

		<% end  %>
		
		
		</div>
		
		<div class="listed-tweets">
			<h4>Tweets</h4>
			<% @user.tweets.each do |tweet| %>
				<div class="row">
					<p class="no-bottom-margin"><%= tweet.content %></p>
					<p class="bottom-margin"><%= tweet.created_at.strftime("%B %d at %I:%M %p") %></p> 
					<hr>
				</div>
			<% end %>
		</div>

	</div>
</div>


