<div class="user-profile-background">
	<div class="small-3 columns">
		<div class="profile-image"> <%= image_tag @user.avatar %></div>
		<div class="profile-name"> <%= @user.name %></div>
		<div >	
	 		<div><%= render 'follow_form' if @current_user.present? %></div>
	 		<%= render 'shared/stats' %>
		</div>
	</div>
	
	<div class="small-9 columns">
		<h4>Compose Tweets</h4>

		<div class="post-tweets">
		
		</div>
		
		<div class="listed-tweets">
			<% @user.tweets.each do |tweet| %>
				<p><%= link_to tweet.content, tweet %></p>
			<% end %>
		</div>

	</div>
</div>






