<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>

<div class="avatar">
	<p>
	  <strong>Image:</strong>
	</p>
	<%= image_tag @user.avatar %>
</div>


<!-- THIS SHOULDN'T SHOW IF: -->
	<!-- If you are already following the person -->
	<!-- If you are looking at your own profile -->

<div class="follow">

	<!-- Display a button that says follow -->
	
	<button>Follow</button>

</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h3>Tweet</h3>

<% @user.tweets.each do |tweet| %>
	<p><%= link_to tweet.content, tweets %></p>
<% end %>

