<div class="user-profile-background">
	<div class="small-3 columns">
		<p> <%= image_tag @user.avatar %></p>
		<p> <%= @user.name %></p>
		<div class="follow">	
	 		<%= render 'follow_form' if @current_user.present? %>
	 		<%= render 'shared/stats' %>
		</div>
	</div>
	
	<div class="small-9 columns">
		<h4>Compose Tweets</h4>

		<div class="post-tweets">
		
		</div>
		
		<div class="listed-tweets">
			<% @user.tweets.each do |tweet| %>
				<p><%= link_to tweet.content, tweet %></p>
			<% end %>
		</div>

	</div>
</div>






